.Trending-card-container
  width: 470px
  .Trending-card-image-container
    width: 100%
    height: 100%

    .Trending-card-image
      width: 470px
      height: 250px
      padding: 10px
  .Trending-card-Bookmark-container
    width: 100%
    justify-content: center

    .Trending-card-Boorkmark-wrapper
      cursor: pointer
      border-radius: 50%
      background-color: rgba(0, 0, 0, 0.5)
      position: relative
      z-index: 1
      left: 410px
      top: 60px
      padding: 8px
      width: 40px
      text-align: center

      &:hover
        background-color: var(--color-white)
        svg
          path
            stroke: #000

  .Trending-card-info-container
    display: flex

    p
      font: var(--font-body-tiny)
      opacity: 0.7
      margin: 5px
    span
      font: var(--font-body-small)
      opacity: 0.7
      margin: 0 1px
      font-size: 1rem
  .Trending-card-info-title
    h1
      font: var(--font-heading-tiny)
