.Trending-card-container
  height: 100%

  .Trending-card-image-container
    width: 100%
    margin-right: 30px
    margin-bottom: 10px
    .Trending-card-image-wrapper
      width: 100%
      .trending-image-box
        width: 100%
        max-width: 470px
        width: 100%

    .Trending-card-image
      border-radius: 10px
      height: 300px
      width: 200px

  .Trending-card-Bookmark-container
    width: 100%
    justify-content: center

    .Trending-card-Boorkmark-wrapper
      cursor: pointer
      border-radius: 50%
      background-color: rgba(0, 0, 0, 0.5)
      position: relative
      display: flex
      z-index: 1
      left: 10px
      top: 50px
      padding: 8px
      width: 40px
      height: 40px
      text-align: center
      svg
        align-self: center
        margin: auto

      &:hover
        background-color: var(--color-white)
        svg
          path
            stroke: #000
