.Trending-card-container
  height: 100%

  .Trending-card-image-container
    width: 100%
    margin-right: 30px
    margin-bottom: 10px
    .Trending-card-image
      width: 470px
      border-radius: 10px
      height: 250px

  .Trending-card-Bookmark-container
    width: 100%
    justify-content: center

    .Trending-card-Boorkmark-wrapper
      cursor: pointer
      border-radius: 50%
      background-color: rgba(0, 0, 0, 0.5)
      position: relative
      z-index: 1
      left: 410px
      top: 60px
      padding: 8px
      width: 40px
      text-align: center

      &:hover
        background-color: var(--color-white)
        svg
          path
            stroke: #000
  .Trending-card-info-container-wrapper
    position: relative
    height: 0
    .Trending-card-info-container, .Trending-card-info-title
      display: flex
      position: relative
      top: -80px
      left: 30px
      p
        font: var(--font-body-tiny)
        opacity: 0.8
        margin: 5px
      span
        font: var(--font-body-small)
        opacity: 0.8
        margin: 0 1px
        font-size: 1rem
    .Trending-card-info-title
      h1
        font: var(--font-heading-tiny)
        background-color: transparent
