.Card-container
  width: 100%
  height: auto
  max-height: 230px
  margin: auto

  .Card-image-container

  .Card-image
    border-radius: 10px
    background-color: cyan
    width: 100%
    max-height: 200px
  .Bookmark-container
    position: relative
    .Boorkmark-wrapper
      cursor: pointer
      border-radius: 50%
      background-color: rgba(0, 0, 0, 0.5)
      position: relative
      left: 70%
      top: 50px
      padding: 8px
      width: 40px
      height: 40px
      text-align: center
      line-height: 40px
      display: flex
      svg
        margin: auto
      &:hover
        background-color: var(--color-white)
        svg
          path
            stroke: #000

  .Card-info-container
    display: flex
    p
      font: var(--font-body-tiny)
      opacity: 0.7
      margin: 5px
    span
      font: var(--font-body-small)
      opacity: 0.7
      margin: 0 1px
      font-size: 1rem
  .Card-info-title
    h1
      font: var(--font-heading-tiny)
