.nav-bar-container
  display: flex
  width: 10%

aside
  background-color: var(--color-dark-blue)
  margin: 20px
  width: 100%
  height: 90vh
  border-radius: 30px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  .nav-bar-elements
    padding: 20px
    text-align: center
    h1
      background-color: var(--color-dark-blue) !important
    .icon-movie
      svg
        margin: 15px 0
  ul
    padding: 40px 0
    list-style: none
    list-style-position: inside
    li
      padding: 30px
      a
        cursor: pointer
        color: var(--color-white)
        text-decoration: none
        font-size: var(--font-heading-medium)
        font-weight: 500
        &:hover
          transition: 2s ease-in-out
          svg
            path
              fill: var(--color-red)

  .profile
    width: 100%
    text-align: center
    padding: 20px 0
    .profile-box
      height: 40%
      display: flex
      padding: 0

      img
        width: 80px
        height: 80px
        margin: 0 auto
        border: 2px solid var(--color-white)
        border-radius: 50%
.active
  fill: var(--color-white)
  path
    fill: var(--color-white)
